@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");

body {
  margin: 0px !important;
  padding: 0px !important;
  background-image: url("/image/backgroundBody.jpg");

}
.leftMain {
  background-color: #d9e4e4;
  position: relative;
  padding:10px;
}
.row {
  margin: 0px !important;
}
.leftMain p {
  color: none;
}
.logoAdmin {
  margin-left: 25%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .logoAdmin {
    display: none;
  }
}

.leftMain h2 {
  text-align: center;
  color: rgb(65, 74, 17);
  padding: 10px;
}
.leftMain h3 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 3px solid grey;
}
.leftMain p {
  text-align: center;
}
.dashBoard {
  width: 100%;
}
.dashBoard h4 {
  margin-top: 15px;
  text-align: center;
  font-size: 22px;
}
.dashBoard ul li {
  margin-left: -35px;
  padding: 10px;
}
.dashBoard ul li a {
  text-decoration: none;
  color: rgb(2, 48, 48);
  margin-left: 15px;
  text-align: justify;
  font-size: 18px;
  font-weight: 15px;
}
.dashBoard ul li:hover {
  background-color: rgb(147, 144, 103);
  color: #192261;
}
.dashBoard ul li:hover a {
  background-color: rgb(147, 144, 103);
  color: #192261;
  font-size: 20px;
}
.leftBottom {
  margin-top: 50px;
  margin-left: 25px;
}
.leftBottom button {
  text-decoration: none;
  color:rgb(61, 69, 3);
  color: #dfdeee;
  font-weight: bold;
}
.leftBottom input {
  border:0;
  background: rgb(147, 144, 103);
  border-radius: 10px;
  width: 50%;
  height: 15%;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.leftBottom input:hover {
  background: rgb(61, 69, 3);
  transform: scale(1.05);
  cursor: pointer;
}
.leftBottom i {
  margin-bottom: 10px;
  font-size: 30px;
  margin-left: 100px;
}
.leftBottom input {
  margin-top: 15px;
  margin-left: 50px;
  text-align: center;
  font-size: 20px;
}
/* .leftBottom ul li:hover i {
 color: rgb(61, 69, 3);
} */


/*right*/
#role{
    margin-right: 0px;
    margin-left: 25px;
    
}

.title {
    width: 100%;
    text-align: center;
    font-family: "Trirong", serif;
    word-spacing: 7px;
    letter-spacing: 3px;
}
.btnSearch{
    display: inline-block;
    margin-right: 20px;
}
.btnSearch button{
    padding: 20px 5px 20px 5px; 
}
.tableQuery table {
    display: inline-block;

}
.tableQuery table tr td {
    padding: 5px;
    
}
.panelQuery{
    margin: 20px 0px 40px 0px;
}

/*display data table-------------------------------------------*/
.dataTable table th {
    text-align: center;
    vertical-align: middle;
}
.dataTable table td {
    vertical-align: middle;
}
.i {
    text-align: center;
}
.dataTable {
    /* overflow: auto;  height: 300px; */
    width: 100%;
}

.deleteForm{
  float: left;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 100%;
  margin-left: -18px;
}
.createBtn {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 12px;
}
#btnDelete {
  display: none;
}
.createBtn a {
  text-decoration: none;
  color: black;
}
/* css các nút xóa */
#deleteTotal {
  width:30%; display:inline-block; opacity: 0.5;
  margin-left: 2%;
  margin-bottom: 5px;
  margin-top: 20px;
}
#error, .error {
  display: none;
  margin-left: 2%;  
  margin-bottom: 10px;
  color: red;
  font-style: italic;
  font-size: 15px;
}

.error {
  display: block;
  margin-left: 2%;  
  margin-bottom: 10px;
  color: red;
  font-style: italic;
  font-size: 15px;
}


