<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- CSS only -->
     <link rel="stylesheet" href="#" th:href="@{/css/bootstrap5-2-2.css}" 
    th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href="#" th:href="@{/css/index.css}" />
    <link rel='stylesheet' type='text/css' media='screen' href="#" th:href="@{/css/calendar.css}" />
     <link rel='stylesheet' type='text/css' media='screen' href="#" th:href="@{/css/headerfooter.css}" />
     <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"> -->
     <link rel="stylesheet"th:href="@{/css/bootstrap5-2-2.css}" >
     
     <!-- Font aware some -->
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css?fbclid=IwAR1YsW4Cd3uJltNc6k1kJ8R9VzNjmSXk9rjmW32BPoA6LWxNrZBCUY-D4i8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">

    <title>Trang chủ</title>
    
</head>
<body>

<!-- Header  -->
<div style="width:100%;" th:include ="~{/header :: header}"></div>
 
 
<!--Left main-->
<div class="col-12 col-md-4 col-xl-3 leftMain">

    <form action="#" th:action="@{/index/viewByDate}" th:object="${indexDTO}" method="post">
    <!--left above (calendar display lottery 3 region in that day)-->
    <div class="leftAbove">
    <div style="display:flex; flex-flow:column wrap; align-content: center;">
        <!-- Mount calendar on root--> 
             <div id="root"></div>
        <!-- For Demo Purposes
            <span><input id="input-mode" type="checkbox" value="multiple"> <label>Select multiple</label></span>
            <br/>
            <textarea id="input-date" placeholder="MM/DD/YYYY"></textarea>--> 
            
            <div id="input-date" style="display: none;"></div>
            <!--<input name="dateSearch" id="dateSearch" type="submit" onclick="demo()" />
            -->
    </div>
            <div id="root2" class="calendar"><input th:field="*{dayDraw}" name="dayDraw" id="dateSearch" class="dateSearch" type="submit" onclick="demo()" value="Xem"/></div> 
    
        </div>
    </form>

<hr>
<form>
    <!--left below (region of lottery list in a month recently)-->
    <div class="bgrc"></div>
    <div class="leftBelow">
        <h4>Kết quả xổ số 3 miền</h4>
        <div class="north">
            <h5><i class="fab fa-wizards-of-the-coast"></i> Kết quả xổ số miền Bắc</h5>
            <p><a th:href="@{/index/viewMBHN}">Kết quả xổ số Hà Nội</a></p>
            <p><a th:href="@{/index/viewMBHP}">Kết quả xổ số Hải Phòng</a></p>

            <hr>
        </div>
        <div class="central">
            <h5><i class="fab fa-wizards-of-the-coast"></i> Kết quả xổ số miền Trung</h5>
            <p><a th:href="@{/index/viewMTDN}">Kết quả xổ số Đà Nẵng</a></p>
            <p><a th:href="@{/index/viewMTDL}">Kết quả xổ số Đăk Lăk</a></p>

            <hr>
        </div>
        <div class="south">
            <h5><i class="fab fa-wizards-of-the-coast"></i> Kết quả xổ số miền Nam</h5>
            <p><a th:href="@{/index/viewMNSG}">Kết quả xổ số TP. Hồ Chí Minh</a></p>
            <p><a th:href="@{/index/viewMNCT}">Kết quả xổ số Cân Thơ</a></p>

            <hr>
        </div>
    </div>

</form>


</div><!--Left main-->





<!--mid main-->
<div class="col-12 col-md-8 col-xl-6 midMain">


    <!--display draw result today -->
    <!--Line: 1 -->
    <div class="midLine1">
    <h3>Kết quả xổ số kiến thiết <span>[[${province}]]</span></h3>
    </div>

    <!--Line: 2 -->
    <div class="midLine2">
        <!--Title-->
        <div class="drawLotteyTitle2">
            <h5>Kết quả xổ số <span>[[${province}]]</span></h5>
        </div>
        <!--Data table-->
        <div class="drawLotteyData">
            <table >
                <thead>
                    <!--Row 1-->
                    <tr>
                        <th style="width:15%">Ngày</th>
                        <th style="width:12%">Đặc biệt</th>
                        <th style="width:9%">Nhất</th>
                        <th style="width:9%">Nhì</th>
                        <th style="width:9%">Ba</th>
                        <th style="width:16%">Tư</th>
                        <th style="width:8%">Năm</th>
                        <th style="width:8%">Sáu</th>
                        <th style="width:7%">Bảy</th>
                        <th style="width:7%">Tám</th>
                    </tr>
                </thead>   
                <tbody>              
                    <th:block th:each="dtoLb : ${lotteryBoardList}">         
                    <tr>
                        <td><b><span th:utext="${dtoLb.day}"></span>/
                        		<span th:utext="${dtoLb.month}"></span>/
                        		<span th:utext="${dtoLb.year}"></span></b></td>
                        <td><span th:utext="${dtoLb.g0}"></span></td>
                        <td><span th:utext="${dtoLb.g1}"></span></td>
                        <td><span th:utext="${dtoLb.g2}"></span></td>
                        <td><span th:utext="${dtoLb.g31}"></span>, 
                        	<span th:utext="${dtoLb.g32}"></span></td>
                        <td><span th:utext="${dtoLb.g41}"></span>, <span th:utext="${dtoLb.g42}"></span>, 
                        	<span th:utext="${dtoLb.g43}"></span>, <span th:utext="${dtoLb.g44}"></span>, 
                            <span th:utext="${dtoLb.g45}"></span>, <span th:utext="${dtoLb.g46}"></span>, 
                            <span th:utext="${dtoLb.g47}"></span></td>
                        <td><span th:utext="${dtoLb.g5}"></span></td>
                        <td><span th:utext="${dtoLb.g61}"></span>, <span th:utext="${dtoLb.g62}"></span>, 
                        	<span th:utext="${dtoLb.g63}"></span></td>
                        <td><span th:utext="${dtoLb.g7}"></span></td>
                        <td><span th:utext="${dtoLb.g8}"></span></td>
                    </tr>
                  </th:block>
    
    
                </tbody>                
            </table>
        </div>

        <div class="footerDrawTable"></div>

    </div>

       
    <!--display lottery board day nearest-->



</div><!--mid main-->






<!--right main-->
<div class="col-12 col-md-12 col-xl-3 rightMain">
    <!--above-right (draw panel)-->
    <div class="tableDraw">
      <form action="#" th:action="@{/index/draw}" th:object="${indexDTO}">
        <table >
            <thead>
                <!--Row 1-->
                <tr>
                    <td style="width:30%">Tỉnh dò:</td>
                    <td style="width:70%">
                        <div>
                            <select id="regionCity" name="province" th:field="*{province}">
                                    <option value="Hà Nội">Hà Nội</option>
                                    <option value="Hải Phòng">Hải Phòng</option>

                                    <option value="Đà Nẵng">Đà Nẵng</option>
                                    <option value="Đăk Lăk">Đăk Lăk</option>

                                    <option id="mienNam" value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                                    <option value="Cần Thơ">Cần Thơ</option>

                            </select>
                        </div>
                    </td>
                </tr>
            </thead>

            <tbody>              
                <tr>
                    <td rowspan="2"><button type="submit" class="drawBtn">Dò</button></td>
                    <td>
                        <input th:field="*{codeDraw}" id="codeDraw" onmouseleave="errorCodeDraw()" type="text" name="codeDraw" placeholder="Nhập mã trên vé của bạn"/>
                        <span id="errorcodeDraw"></span>
                        
                    </td>
                </tr>

                <tr>
                    
                    <td>
                        <p><input th:field="*{dayDraw}" type="text" id="datepicker" name="dateDraw" placeholder="Chọn ngày xổ"/></p> 
                    </td>
                </tr>
                <!--
                <tr>
                    <td colspan="2" class="rigthItem">
                        <span>Vé của bạn trúng giải đặc biệt</span>
                    </td>
                </tr>
                -->
            </tbody>                
        </table>
    </form>
   </div>

	<!--  class="resultDraw" -->
    <div>
        <p th:if="${drawError}" class="resultDraw">
        <span th:if="${drawError}" th:text="${drawError}" class="error ">Error</span>
        <span class="rigthItemResult" th:if="${resultDraw}" style="font-size: 15px; font-weight: bold;">[[${resultDraw}]]</span>
        </p>
    </div>
    <hr>

    
    <!--below-right (static list)-->
    <div class="rightBelow">
        <h5>Tần xuất số xổ 30 ngày qua</h5>
        <hr>
        <div class="tableStatic">
            <form>
                <table>
                    <thead>
                        <!--Row 1-->
                        <tr>
                            <th style="width:50%">Số đuôi</th>
                            <th></th>
                            <th style="width:50%">Tần suất xuất hiện</th>
                        </tr>
                    </thead>
        
                    <tbody>              
                        <tr>
                            <td><i class="fab fa-wizards-of-the-coast"></i> <span>[[${numTop1}]]</span></td>
                            <td></td>
                            <td><span>[[${frequencyTop1}]]</span> lượt (<span>[[${percent1}]]</span>%)</td>
                        </tr>
        
                        <tr>
                            <td><i class="fab fa-wizards-of-the-coast"></i> <span>[[${numTop2}]]</span></td>
                            <td></td>
                            <td><span>[[${frequencyTop2}]]</span> lượt (<span>[[${percent2}]]</span>%)</td>
                        </tr>
   
                        <tr>
                            <td><i class="fab fa-wizards-of-the-coast"></i> <span>[[${numTop3}]]</span></td>
                            <td></td>
                            <td><span>[[${frequencyTop3}]]</span> lượt (<span>[[${percent3}]]</span>%)</td>
                        </tr>
                        
                        <tr>
                           <td><i class="fab fa-wizards-of-the-coast"></i> <span>[[${numTop4}]]</span></td>
                           <td></td>
                           <td><span>[[${frequencyTop4}]]</span> lượt (<span>[[${percent4}]]</span>%)</td>
                       </tr>
                        
                        <tr>
                           <td><i class="fab fa-wizards-of-the-coast"></i> <span>[[${numTop5}]]</span></td>
                           <td></td>
                           <td><span>[[${frequencyTop5}]]</span> lượt (<span>[[${percent5}]]</span>%)</td>
                       </tr>
   
                    </tbody>
                </table>
            </form>
        </div>
    </div>


</div><!--right main-->




<!-- Footer  -->
<div style="width:100%;"  th:include ="~{/footer :: footer}"></div>





<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="#" th:src="@{/js/index.js}"></script>
<script src="#" th:src="@{/js/calendar.js}"></script>
<script src="#" th:src="@{/js/getDate.js}"></script>
<script src="#" th:src="@{/js/headerfooter.js}"></script>

</body>
</html>
